<table class="fd-table is-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>糖度</th>
      <th>重さ</th>
      <th>糖度</th>
      <th>重さ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>王林</th>
      <td>14</td>
      <td>350g</td>
      <td>14</td>
      <td>350g</td>
    </tr>
    <tr>
      <th>ふじ</th>
      <td>13</td>
      <td>250g</td>
      <td>13</td>
      <td>250g</td>
    </tr>
    <tr>
      <th>紅玉</th>
      <td>12</td>
      <td>200g</td>
      <td>12</td>
      <td>200g</td>
    </tr>
  </tbody>
</table>
