$card-border-radius: 10px;

.#{$prefix} {
  &-card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    &.is-rounded {
      border-radius: $card-border-radius;
      overflow: hidden;
    }
    &__image {
      line-height: 1;
    }
    &__contents {
      padding: 1rem;
    }
  }
}
