.#{$prefix} {
  &-global-navi {
    $block: &;
    position: absolute;
    top: 0;
    left: -20vw;
    width: 20vw;
    height: 100%;
    padding: 2rem;
    background-color: #26a69a;
    transition: left .2s ease-out;
    overflow-y: scroll;
    z-index: 10000;

    &.is-active {
      left: 0;
    }
  }
}
