$list-border-color: #dbdbdb !default;

.#{$prefix} {
    &-list {
        &-disc {
            &__item {
                position: relative;
                padding-left: 1.2rem;
                margin-bottom: .5rem;
                &::before {
                    position: absolute;
                    top: .8rem;
                    left: 0;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-main;
                    transform: translateY(-50%);
                }
            }
        }
        &-ol {
            padding-left: 1.2rem;
            &__item {
                margin-bottom: .5rem;
            }
        }
        &-parenthesis {
            padding-left: 1.6rem;
            list-style-type: none;
            &__item {
                margin-bottom: .5rem;
                counter-increment: cnt;
                text-indent: -1.6rem;
                &::before {
                    content: "(" counter(cnt) ") ";
                }
            }
        }
        &-line {
            &__item {
                padding: .8rem 0;
                border-bottom: solid 1px $list-border-color;
                &:first-child {
                    border-top: solid 1px $list-border-color;
                }
            }
        }
    }
}