<div class="fd-grid">
  <div class="fd-card">
    <div class="fd-card__image">
      <img src="https://placehold.jp/300x185.png" alt="" />
    </div>
    <div class="fd-card__contents">
      <p>テキストテキストテキスト</p>
      <a class="fd-button is-basic is-rounded is-fullWidth" href="#">
        ボタン
      </a>
    </div>
  </div>
  <div class="fd-card">
    <div class="fd-card__image">
      <img src="https://placehold.jp/300x185.png" alt="" />
    </div>
    <div class="fd-card__contents">
      <p>テキストテキストテキスト</p>
      <a class="fd-button is-basic is-rounded is-fullWidth" href="#">
        ボタン
      </a>
    </div>
  </div>
  <div class="fd-card">
    <div class="fd-card__image">
      <img src="https://placehold.jp/300x185.png" alt="" />
    </div>
    <div class="fd-card__contents">
      <p>テキストテキストテキスト</p>
      <a class="fd-button is-basic is-rounded is-fullWidth" href="#">
        ボタン
      </a>
    </div>
  </div>
</div>
