@font-face {
  font-family: "YuGothic-M";
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"),
    local("YuGothic-Regular");
}

@font-face {
  font-family: "YuGothic-M";
  font-weight: bold;
  src: local("YoGothic-Bold"), local("Yu Gothic");
}

html {
  font-size: $default-font-size;
}

body {
  font-family: -apple-system, blinkMacSystemFont, YuGothic-M, YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  letter-spacing: 1px;
  line-height: 1.6;
}

button {
  border: none;
  font-size: 1rem;
  &:hover {
    transition: all .3s;
    opacity: .8;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  body {
    font-feature-settings: "pkna";
  }
}
a {
  color: $link-color-base;
  &:hover {
    transition: all .3s;
    opacity: .8;
  }
}
