$prefix: "fd";

$gutter: 64px;

$tablet: 769px + ($gutter * 2) !default;
$desktop: 960px + ($gutter * 2) !default;
$widescreen: 1152px + ($gutter * 2) !default;

$default-font-size: 16px !default;
$color-main: #26a69a !default;
$base-text-color: #333333 !default;

$link-color-base: #193bc9;
